<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <div class="well">
      <h2 class="text-center white">Edit User</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%#= render "devise/shared/error_messages", resource: resource %>
        <%= devise_error_messages! %>
        <div class="field form-group">
          <%= f.label :name, class: "white" %><br />
          <%= f.text_field :name, class: 'form-control bg-black', autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field form-group">
          <%= f.label :email, class: "white" %><br />
          <%= f.email_field :email, class: 'form-control bg-black', autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label :password, class: "white" %> <i class="white">(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, class: 'form-control bg-black', autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em class="white"><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation, class: "white" %><br />
          <%= f.password_field :password_confirmation, class: 'form-control bg-black', autocomplete: "new-password" %>
        </div>

        <div class="field form-group">
          <%= f.label :current_password, class: "white" %> <i class="white">(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class: 'form-control bg-black', autocomplete: "current-password" %>
        </div>

        <div class="field form-group">
          <%= f.submit "Update", class: "btn btn-primary" %>
          <%= link_to  "Home Page", root_path, class: "btn btn-success" %>
        </div>

        <% end %>
        
    </div>
  </div>
</div>