<div class="text-center">
    <div class="col-md-8 col-md-offset-2">
      <% @users.each do |user| %>
        <div class="well profile-black-white-thin row" <%= cycle("profile-black-white-thin-b", '') %> 

              <p></p>    
							<p class="bold"> Name:  <span class="green"><%= user.name %> </span></p>
							<p class="bold"> User Name:  <span class="green"><%= user.email %> </p>
							<p class="bold"> Password:  <span class="italics"><%= user.password %> </p>
							<p class="spacer">Bubble</p>
              
							<%= link_to "View", user_path(user), class: "btn btn-warning" %> 
							<% if current_user && current_user.admin? %>
									<%= link_to "Edit", edit_user_registration_path(user), class: "btn btn-primary" %>
							<% end %>
              <% if current_user.admin? %>
                <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %> 
              <% end %>
            
         </div>
      <% end %>
    </div>
</div>