<div class ="center well">
    <h2 align="center">User Details for: <%= @user.name %></h2>
    <h3 align="center">User: <%= current_user.name %> <%= " 'Admin User'" if current_user.admin?%>
</div>

<div class="container">
  <div class="row" align="left">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">

        <p>
          <span class="bold">User Name:  </span><span class="green"><%= @user.name %></span>
        </p>

        <p>
          <span class="bold">Email:  </span><span class="italics"><%= @user.email %></span>
        </p>

        <p>
          <span class="bold">Password: </span>"<span class="italic"><%= @user.password %></span>"
        </p>

        <div align="center">
          <% if current_user || current_user.admin? %>
          <%= link_to "Edit User Details", edit_user_registration_path(@password), class: "btn btn-warning" %>
          <% end %>
          <%= link_to "Back to Index", passwords_path, class: "btn btn-success" %> 
        </div>
      </div>
    </div>
  </div>
</div>