<div class ="center well">
    <h2 class="text-center">User Details for: <%= @user.name %></h2>
    <h3 class="text-center">User: <%= current_user.name %> <%= " 'Admin User'" if current_user.admin?%>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
          <p><span class="bold-white">User Name:  </span><span class="white"><%= @user.name %></span></p>
          <p><span class="bold-white">Email:  </span><span class="italics"><%= @user.email %></span></p>

        <div class="text-center">
          <% if current_user && current_user.admin? %>
          <%= link_to "Edit User Details", edit_user_registration_path(@password), class: "btn btn-warning" %>
          <% end %>
          <%= link_to "Back to Index", passwords_path, class: "btn btn-success" %> 
        </div>
      </div>
    </div>
  </div>
</div>