
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@password, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :name, class: "white" %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :name, class: 'form-control bg-green', placeholder: "Name of Password", autofocus: true %>
      </div>
      </div>


      <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :user_name, class: "white" %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :user_name, class: 'form-control bg-green', placeholder: "Add User Name" %>
      </div>
      </div>

      <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :password, class: "white" %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :password, class: 'form-control bg-green', placeholder: "Add Password" %>
      </div>
      </div>

      <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :notes, class: "white" %>
      </div>
      <div class="col-md-8">
        <%= f.text_area :notes, class: 'form-control bg-green', placeholder: "Add any notes here on what the password is for.." %>
      </div>
      </div>


      <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Back to Index", passwords_path, class: "btn btn-success" %>
      </div>
      </div>
    <% end %>
  </div>
</div>