<div class="center well">
    <h2 align="center">All Password Details</h2>
</div>

<div align="center">
    <% @passwords.each do |pass| %>
        
        <p>Name: <%= pass.name %> 
           UserName: <%= pass.user_name %>  
           Password: <%= pass.password %>
        <%= link_to "Edit", edit_password_path(pass) %>
        <%= link_to "View", password_path(pass) %> 
        <%= link_to "Delete", password_path(pass), method: :delete, data: {confirm: "Are you sure?" } %>    
        </p>
    
    <% end %>
</div>