<div class ="center well">
    <h2 align="center">Password Details for: <%= @password.name %></h2>
    <h3 align="center">User: <%= current_user.name %> <%= " 'Admin User'" if current_user.admin?%>
</div>

<div class="container">
  <div class="row" align="left">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">

        <p>
          <span class="bold">User Name:  </span><span class="green"><%= @password.user_name %></span>
        </p>

        <p>
          <span class="bold">Password:  </span><span class="italics"><%= @password.password %></span>
        </p>

        <p>
          <span class="bold">General Notes: </span>"<span class="italic"><%= @password.notes %></span>"
        </p>

        <div align="center">
          <% if current_user && current_user.admin? %>
          <%= link_to "Edit User", edit_password_path(@password), class: "btn btn-warning" %><br /><br />
          <% end %>
          <%= link_to "Back to Index", passwords_path, class: "btn btn-success" %> 
        </div>
      </div>
    </div>
  </div>
</div>