<div class ="center well">
    <h2 align="center">Show</h2>
</div>

<div class="container">
  <div class="row" align="center">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <p>
          <span class="bold">Name:  </span><span class="green bold"><%= @password.name %></span>
        </p>

        <p>
          <span class="bold">User Name:  </span><span class="green"><%= @password.user_name %></span>
        </p>

        <p>
          <span class="bold">Password:  </span><span class="italics"><%= @password.password %></span>
        </p>

        <p>
          <span class="bold">General Notes:  </span><span class="bold"><%= @password.notes %></span>
        </p>

        <% if current_user && current_user.admin? %>
          <%= link_to "Edit Password Details", edit_password_path(@password), class: "btn btn-warning" %>
        <% end %>
        <%= link_to "Back to Index", passwords_path, class: "btn btn-success" %> 
      </div>
    </div>
  </div>
</div>