<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Home", root_path %></li>
                
                <% if current_user %>
                  <li><%= link_to "Password Index", passwords_path %></li>
                  <li class="white"><%= link_to current_user.name if current_user %></li>
                  <li><%= link_to "(Admin)" if current_user.admin? %></li>
                <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><%#= link_to "Help", help_path %></li>
                <% if current_user && current_user.admin? %>
                  <li><%= link_to "New User Profile", new_user_registration_path, class: "btn btn-warning nav-but" %></li>
                  <li><%= link_to "Add New Password", new_password_path, class: "btn btn-primary nav-but" %></li>
                <% end %>
                <% if current_user %>
                  <li><%= link_to "Log out", destroy_user_session_path, class: "btn btn-danger nav-but", method: :delete %></li>
                    <li></li>
                <% else %>
                  <li><%= link_to "Log in", new_user_session_path, class: "btn btn-primary nav-but", method: :get %></li>
                <% end %>
            </ul>
        </div>
      </nav>
    </div>
</header>